.sliderlogos {
    width: 100vw;
    height: 70px; /* Altura fija del contenedor */
    overflow: hidden;
    display: flex;
  
}

.sliderlogos .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(250 * 16);
}

.sliderlogos .slide {
    width: 250; /* Ancho automático para mantener la proporción */
    justify-content: center;
}

.sliderlogos .slide img {
    object-fit: cover; /* La imagen cubrirá el contenedor sin deformarse */
    height: 100%; /* La imagen ocupará toda la altura del contenedor */
    width: 250; /* Ancho automático para mantener la proporción */
    padding: 0 25px;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-250px * 8));
        transform: translateX(calc(-250px * 8));
    }
}